// font
$fontFamily: Arial, Helvetica, sans-serif;
$fontSize: 16px;

// breakpoints
$sm: 576px;

//color
$mainColor: #666;
$backgroundColor: #f3ffff;
$backgroundColorInput: #f9f9f9;
$redColor: #c41a04;
